.search-container {
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.search-container input {
  width: 70%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px 0 0 8px;
  outline: none;
}

.search-container button {
  padding: 15px 30px;
  border: none;
  background: teal;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}