.register-page{
    width:100%;
    min-height:100vh;
    background:#f4f7fb;
    display:flex;
    justify-content:center;
    align-items:center;
}

.register-card{
    width:420px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 5px 25px rgba(0,0,0,.1);
    text-align:center;
}

.register-card h1{
    font-size:42px;
    margin-bottom:8px;
}

.register-card p{
    color:gray;
    margin-bottom:20px;
}

.register-card input{
    width:100%;
    padding:14px;
    margin:10px 0;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:16px;
    box-sizing:border-box;
}

.register-card button{
    width:100%;
    padding:14px;
    background:#009688;
    color:white;
    border:none;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
    margin-top:15px;
}

.register-card button:hover{
    background:#00796b;
}

.register-card a{
    color:#009688;
    text-decoration:none;
    font-weight:bold;
}